{% extends 'base.html'%} {% load atm_extras %} {% block content %}

<div class="uk-vertical-align uk-text-center uk-height-1-1">
  <div class="uk-vertical-align-middle">
    <h3>Login to Test ATM</h3>
    <form class="uk-panel uk-form" method="post">
      {% csrf_token %}
      <div class="uk-form-row">
        <input id="number-input" class="uk-width-1-1 uk-form-large" type="text" name="number" placeholder="Input your card number" maxlength="19" disabled="">
      </div>
      <div class="uk-grid uk-width-large-1-3 uk-push-1-3">
        {% keyboard 'number-input' %}
      </div>
    </form>
  </div>
</div>

<script type="text/javascript">
  var inputField = $('#number-input');
  inputField.change(function() {
    var curVal = inputField.val().split('-').join('');
    var newVal = '';
    for (c in curVal) {
      newVal += c > 1 && curVal[c] != '-' && !(c % 4) ? '-' + curVal[c] : curVal[c];
    }
    inputField.val(newVal);
  });
</script>
{% endblock %}
