{% extends 'base.html'%} {% load atm_extras %} {% block content %}
<div class="uk-vertical-align uk-text-center uk-height-1-1">
  <div class="uk-vertical-align-middle">
    <h3>Input PIN code:</h3>
    <form class="uk-panel uk-form" method="post">
      {% csrf_token %}
      <div class="uk-form-row">
        <input id="pin-input" class="uk-width-1-1 uk-form-large" type="password" placeholder="4 numbers" maxlength="4" disabled="">
      </div>
      <div class="uk-grid uk-width-large-1-3 uk-push-1-3">
        {% keyboard 'pin-input' with_exit=True %}
      </div>
    </form>
  </div>
</div>
{% endblock %}
